{% extends 'home.html' %}

{% load render_text %}
{% load render_form %}
{% load render_button %}

{% block title%}{{ block.super }} Add Cart{% endblock %}

{% block main %}

{% render_title "Productos disponibles" %}
<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <form method="POST">
        {% csrf_token %}
        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
            {% for field in form %}
            <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div>
                    {% render_input field True %}
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        {% render_error error %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% render_button_form 'Agregar al carrito'%}
    </form>
</div>
{% endblock %}