<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>nombre</td>
                <td>options</td>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for type_product in object_list %}
            <tr>
                <td>{{ type_product.name }}</td>
                <td><a href="{% url 'product:product_type_update' type_product.id %}">editar</a></td>
                <td><a href="{% url 'product:product_type_delete' type_product.id %}">eliminar</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'product:product_type_create' %}">crear nuevo tipo producto</a>
    <br>
    <a href="{% url 'home' %}">volver al inicio</a>
</body>
</html>