<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>nombre</td>
                <td>precio</td>
                <td>tipo</td>
                <td>options</td>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for product in object_list %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{product.type }}</td>
                <td><a href="{% url 'product:product_update' product.id %}">editar</a></td>
                <td><a href="{% url 'product:product_delete' product.id %}">eliminar</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'product:product_create' %}">crear nuevo producto</a>
</body>
</html>