{% extends 'base.html' %}
{% block title%}{{ block.super }} Home{% endblock %}
{% block body %}
<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
    {% include 'backdrop.html'%}
  <div class="flex flex-col flex-1">
    {% include 'header.html' %}
      <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid">
          {% block main %} {% endblock %}
        </div>
      </main>
  </div>
</div>
{% endblock %}